.containercontent {
    
}

div.summarytable {
}

div.detail {
    width: 100%;
    margin: 30px 0 0 0;
}

div.detail ul {}

div.detail ul li {
    list-style: none;    
}

div.detail span.label {
    float: left;
    font-weight: bold;
    margin: 0 15px 0 0;
}

.tweets {
    padding: 20px 0 0 0;    
}


.invisible {
    display: none;    
}

/* google maps */
#gmapscontainer {
    margin: 0 50px;
    height: 700px;
}

#gmapscontainer img{
    max-width: inherit;
}




/* tagliste */
ul.tags {}

ul.tags li {
    float: left;
    list-style: none;    
}

ul.tags li .label {
    margin: 0 10px;    
}



/* poislist */
ul.poilist {
    
}

ul.poilist li {
    clear: both;
    display: block;  
    margin: 30px 60px;  
}

ul.poilist div.thumbnail {
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
    float: left;
    margin: 0 20px 20px 0;    
}

ul.poilist div.info {
}

ul.poilist div.info a {
    font-size: 1.2em;    
}

