.containercontent {
    
}

div.summarytable {
}

div.detail {
    width: 100%;
    margin: 30px 0 0 0;
}

div.detail ul {}

div.detail ul li {
    list-style: none;    
}

div.detail span.label {
    float: left;
    font-weight: bold;
    margin: 0 15px 0 0;
}

.tweets {
    padding: 20px 0 0 0;    
}


.invisible {
    display: none;    
}

/* google maps */
#gmapscontainer {
    margin: 0 350px 0 50px;
    height: 700px;
}

#gmapscontainer img{
    max-width: inherit;
}

/* twitter */
#twittercontainer {
    float: right;
    width: 300px;
    height: 700px;
    margin: 0 25px;    
    overflow-y: scroll;
}

div.tweetContainerRight {

    /* background-color: #D1EFDB; */
    border: 1px solid #000000; /* #A1A1A1; */
    border-radius: 10px 10px 10px 10px;
    font-family: courier;
    line-height: 18px;
    list-style: none outside none;
    margin: 0 0 0.2em;
    padding: 10px;
	

}

/* tagliste */
ul.tags {}

ul.tags li {
    float: left;
    list-style: none;    
}

ul.tags li .label {
    margin: 0 10px;    
}



/* poislist */
ul.poilist {
    
}

ul.poilist li {
    clear: both;
    display: block;  
    margin: 30px 60px;  
}

ul.poilist div.thumbnail {
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
    float: left;
    margin: 0 20px 20px 0;    
}

div.thumbnail > img {
	max-height: 150px;
}

ul.poilist div.info {
}

ul.poilist div.info a {
    font-size: 1.2em;    
}

ul.poilist div.info span.label {
    margin: 0 15px 0 0;    
}

